	.image{ height:40px;
			width:60px;
			padding:1% 5% 1% 3%;
			background-color:brown;
		}
	.head{	padding-top:1%;
			color:yellow;
			font-size:20px;
		
	}	
	.eng{	padding-left:2%;
			color:white;
		
	}
	.lau{ 	padding-top:0.6%;
			font-size:20px;
			color:black;
		
	}
	.im2	{height:20px; 
			width:30px;
		
			}
	.logo	{padding-left:2%;
	}
	.marquee { margin-top:1%; padding-left:41%;
			   background-color:white;
			   color:black;
				margin-bottom:1%;
	}	
	.news{	font-size:20px;
			font-weight:bold;
			margin-top:4%;
			padding-top:2%;
			margin-left:4.3%;
			padding-left:2%;
			border:1px solid black;
			margin-right:%;
			WIDTH:25%;
			background-color:black;;
			color:white;
			
			
			}
	.bg 	{background-color:white;}
	.VV	{	PADDING-TOP:3%;
			padding-left:36%;
			font-size:25px;
			font-weight:bold;
			color:black;
		}
	.frame1	{	margin-top:3%;
				margin-bottom:1%;
				PADDING-BOTTOM:3%;
		
	}		
	.YOUTUBE {	BORDER:1PX SOLID BLACK;
				MARGIN-LEFT:4.2%;
				MARGIN-TOP:2%;
				background-color:black;
				
		
	}
	.h1{		margin-left:6.5%;
				margin-top:10%;}
	.j {		font-size:23px;
				padding-left:2.8%;
				font-weight:bold;
				color:white;
	}
	.p{					padding-top:3%;}
	.bor{ border:1px solid black;
			margin-top:13.6%;
			margin-left:4.6%;
			padding-left:1.6%;
			padding-right:1.5%;
			padding-top:2%;
			padding-bottom:2%;}
	.o{	color:white;
			font-size:22px;}
			
	.g{	background-color:black;}			
	
	.FOOT{	PADDING-TOP:3%;
			FONT-SIZE:18PX;
			PADDING-LEFT:5%;
			COLOR:GOLD;
	}
	.SP{	PADDING-LEFT:4%;
		
	}
	.sp2	{ font-size:17px;
			  font-weight:bold;
			color:white;
				padding-left:5%;
				padding-top:1%;}
	.pd{ padding-left:11%;}
			.pg{ padding-left:14%;}
				.pc{ padding-left:8.2%;}
			.pi{ padding-left:11%;}	